  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  /*Center*/
  .center {
    text-align: center;
  }

  /*Fonts*/
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }

  p, ul {
    font-family: 'Vollkorn', Georgia, Times, serif;
  }
